name: Check





on: push





jobs:

  build:
    name: Check
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: [ '12', '14', '15' ]

    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}

      - run: npm install --no-save
        env:
          ADBLOCK: true
          DISABLE_OPENCOLLECTIVE: true
          HUSKY_SKIP_INSTALL: true

      - run: npm run lint

      - run: NO_SKIP=on npm run test -- --verbose
        timeout-minutes: 2

      - run: npm run build

      - run: ls -lh dist/{index,bin}*

      - run: npm run bundle

      - name: Check executable
        run: |-
          [[ "$(node dist/bin.cjs -v)" == "$(jq -r '.version' package.json)" ]] && echo y

      - run: ls -lh dist/{index,bin}*

      - uses: codecov/codecov-action@v1
        timeout-minutes: 1

