name: Publish





on:
  push:
    tags:
      - vt/*





jobs:

  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org/



      - run: npm install --no-save --no-update-notifier --ignore-scripts
        env:
          ADBLOCK: true
          DISABLE_OPENCOLLECTIVE: true
          HUSKY_SKIP_INSTALL: true



      - run: npm run lint
      - run: NO_SKIP=on npm run test -- --verbose



      - name: Build
        id: build
        run: sh ci.sh ./ build



      - run: npm publish --tag=next --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}



      - name: Release
        id: release
        run: sh ci.sh ./ release



      - uses: actions/upload-artifact@v1
        with:
          path: dist/artifacts
          name: wabble-${{ steps.release.outputs.ver }}



      - uses: actions/create-release@v1
        id: draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v/${{ steps.release.outputs.ver }}
          release_name: Release ${{ steps.release.outputs.ver }}
          body_path: dist/artifacts/notes.md
          draft: true
          prerelease: true



      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.draft.outputs.upload_url }}
          asset_path: dist/artifacts/wabble-${{ steps.release.outputs.ver }}.tgz
          asset_name: wabble-${{ steps.release.outputs.ver }}.tgz
          asset_content_type: application/gzip

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.draft.outputs.upload_url }}
          asset_path: dist/artifacts/bin-${{ steps.release.outputs.ver }}.cjs
          asset_name: bin-${{ steps.release.outputs.ver }}.cjs
          asset_content_type: application/node

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.draft.outputs.upload_url }}
          asset_path: dist/artifacts/shrinkwrap.json
          asset_name: shrinkwrap.json
          asset_content_type: application/json

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.draft.outputs.upload_url }}
          asset_path: dist/artifacts/checksum.txt
          asset_name: checksum.txt
          asset_content_type: text/plain

