name: Sonar





on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]





jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - run: npm install && npm install --no-save jest-sonar
        env:
          ADBLOCK: true
          DISABLE_OPENCOLLECTIVE: true
          HUSKY_SKIP_INSTALL: true

      - run: npm run test -- --coverage --reporters=jest-sonar

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v1.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
